body,
input {
    font-family: 'Shadows Into Light Two', 'Fjord One', 'Arial', 'Verdana', serif;
    font-size: 16px;
}
body {
    background-image: url(../images/bg.jpg);
}
.FIR {
    overflow: hidden;
    text-indent: -3000px;
    position: absolute;
}

.container {
    width: auto;
    max-width: 960px;
    margin: 0 auto;
    padding: 2em 1em;
    
}

.note {
    padding: 2.6em 2.2em 2.6em 2.2em;
    position: relative;
    margin: 0 auto;
    min-height: 200px;
    max-width: 666px;
    box-shadow: 0 0 20px 2px #444;
}

.note.yellow {
    background-color: #EEF2A5;
}

.note.green {
    background-color: #A6F189;
}

.note.blue {
    background-color: #99CBFA;
}

.note.red {
    background-color: #FD9B88;
}
.note input[type=text] {
    border: none;
    border-bottom: 1px solid #000;
    background-color: inherit;
}
.note .title {
    font-size: 24px;
    margin-bottom: 1em;
    width: 100%;
}
.sprite {
    display:inline-block;
    background-image: url('../images/spritesheet.png');
    background-repeat: no-repeat;
}
.delete {
    min-width: 20px;
    min-height: 20px;
    background-position:-5px -5px;
    float:right;
}
.pin {
    width: 80px;
    height: 65px;
    background-position: -35px -5px;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -30px;
}
.note .items li {
    margin-bottom: 1em;
    list-style: none;
    position:relative; 
}
.note .items li input[type=text] {
   	text-overflow: ellipsis;
}
.note .strike {
    text-decoration: line-through;
}
.note input[type="checkbox"] {
    margin: 0 0.4em 0 0;
    max-width: 20px;
}
.note .color-chooser {
    position:absolute;
    bottom: 2px;
    right: 3px;
}

.note .color-chooser li {
    width: 15px;
    height: 15px;
    border: 1px solid #444;
    display: inline-block;
    list-style-type: none;
}

.note .color-chooser li.yellow {
    background-color: #EDF736;
}

.note .color-chooser li.green {
    background-color: #5FCE99;
}

.note .color-chooser li.blue {
    background-color: #369AF7;
}

.note .color-chooser li.red {
    background-color: #FF7B62;
}

button {
    padding: 0;
    color: #fff;
    border-radius: 3px;
    border: none;
    background: rgba(73,155,234,1);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(0,62,128,1)));
    background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 0%, rgba(0,62,128,1) 100%);
    background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 0%, rgba(0,62,128,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#003e80', GradientType=0 );
}

button:active {
    background: rgba(73,155,234,1);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(0%, rgba(0,62,128,1)), color-stop(100%, rgba(73,155,234,1)));
    background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(0,62,128,1) 0%, rgba(73,155,234,1) 100%);
    background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(0,62,128,1) 0%, rgba(73,155,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#499bea', GradientType=0 );
}

.add-item {
    width: 26px;
    height: 26px;
}

.faded {
    opacity: .7;
    -webkit-transition: opacity 150ms ease;
    transition: opacity 150ms ease;
}

.faded:hover {
    opacity:1;
}

@media screen and (max-width: 767px) {
    body {
        background-image: none;
        background-color: #3E1E0F;
    }
}

@media 
(-webkit-min-device-pixel-ratio: 1.5), 
(min-resolution: 144dpi){ 
    .note .pin {
        background-image: url('../images/hd/pushpin.png');
        background-repeat: no-repeat;
    }
    .note .delete {
        background-image: url('../images/hd/delete-icon.png');
        background-repeat: no-repeat;
   }
}

